In [1]:
# Important the dependancies
import pandas as pd
import os

In [2]:
# Load in the data
vine_df = pd.read_csv('vine_table.csv')
vine_df.head()
len(vine_df.index)

5331449

In [3]:
# Number of Vine Reviews
vine_reviews = vine_df[vine_df['vine']=='Y']
vine_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32026 entries, 76 to 5331437
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   review_id          32026 non-null  object
 1   star_rating        32026 non-null  float64
 2   helpful_votes      32026 non-null  float64
 3   total_votes        32026 non-null  float64
 4   vine               32026 non-null  object
 5   verified_purchase  32026 non-null  object
dtypes: float64(3), object(3)
memory usage: 1.7+ MB

In [4]:
# Filter the data by votes
filtered = vine_df[vine_df['total_votes'] >=20]
filtered

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
50,R100366A4SAVRU,5.0,50.0,56.0,N,Y
89,R1005SZKHE5E7V,4.0,17.0,21.0,N,N
107,R1006ZWDP0JIA0,2.0,24.0,24.0,N,N
115,R1007IFP0MMF1S,3.0,32.0,38.0,N,Y
224,R100EIVD23KUD9,5.0,8.0,32.0,N,N
...,...,...,...,...,...,...
5331297,RZ7H64SBOD9XD,2.0,190.0,207.0,N,Y
5331316,RZBR0RL338SSB,1.0,62.0,80.0,N,N
5331337,RZF9QPXZAKQR1,5.0,29.0,32.0,N,Y
5331397,RZP1F4N3ZGI4,3.0,27.0,36.0,N,Y
5331406,RZQN2BEPF47H1,5.0,29.0,32.0,N,Y

In [5]:
# Filter the data between helpful votes and total votes
votes_df = filtered[filtered['helpful_votes']/filtered['total_votes'] >=.5]
votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
50,R100366A4SAVRU,5.0,50.0,56.0,N,Y
89,R1005SZKHE5E7V,4.0,17.0,21.0,N,N
107,R1006ZWDP0JIA0,2.0,24.0,24.0,N,N
115,R1007IFP0MMF1S,3.0,32.0,38.0,N,Y
315,R100D0J74PE9T9,5.0,15.0,22.0,N,N
...,...,...,...,...,...,...
5331297,RZ7H64SBOD9XD,2.0,190.0,207.0,N,Y
5331316,RZBR0RL338SSB,1.0,62.0,80.0,N,N
5331337,RZF9QPXZAKQR1,5.0,29.0,32.0,N,Y
5331397,RZP1F4N3ZGI4,3.0,27.0,36.0,N,Y
5331406,RZQN2BEPF47H1,5.0,29.0,32.0,N,Y

In [24]:
# Number of Nonvine Reviews
nonvine_reviews = vine_df[vine_df['vine']=='N']
nonvine_reviews.value_counts()
nonvine_reviews

review_id       star_rating  helpful_votes  total_votes  vine  verified_purchase
R10000VJGO8MCK  3.0          1.0            1.0          N     Y                    1
R3IU5QFUM2EVQ1  5.0          0.0            0.0          N     Y                    1
R3IU50M0NK2TJ7  5.0          8.0            8.0          N     Y                    1
R3IU506ZZNUT27  5.0          0.0            0.0          N     Y                    1
R3IU4WJW7S6CPC  5.0          0.0            0.0          N     Y                    1
                                                                                   ..
R29F3YGUVBGNKM  2.0          15.0           20.0         N     N                    1
R29F3YG841J65N  5.0          3.0            3.0          N     Y                    1
R29F3YE36J1VOO  5.0          1.0            1.0          N     Y                    1
R29F3WK3B31OL6  5.0          1.0            1.0          N     Y                    1
RZZZZJURU8XGH   5.0          0.0            0.0          N     Y                    1
Length: 5299189, dtype: int64

In [7]:
# Determining the amount of votes were 'yes'
yes_votes = votes_df[votes_df['vine'] == 'Y']
yes_votes

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
9409,R108U30Q0YXJYO,5.0,28.0,33.0,Y,N
19715,R10IYHF2AZHKAQ,2.0,44.0,54.0,Y,N
21477,R10KQHS9IJQRF2,4.0,52.0,56.0,Y,N
34200,R10VXTKK26IPXN,5.0,98.0,102.0,Y,N
46386,R118G9FYLNRNHN,5.0,98.0,100.0,Y,N
...,...,...,...,...,...,...
5267289,R39UN4V96744R1,1.0,19.0,22.0,Y,N
5272796,R9UJ7ZPWOD81D,5.0,27.0,29.0,Y,N
5284157,R1VIOJSAEXRQVO,4.0,104.0,109.0,Y,N
5301548,RJL72IXR2MWP4,5.0,32.0,39.0,Y,N
5302058,RM6EL81UJUK6M,3.0,29.0,31.0,Y,N

In [8]:
# Grouping the data to determine how many were start_ratings
yes_votes.groupby('star_rating').count()
yes_votes

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
9409,R108U30Q0YXJYO,5.0,28.0,33.0,Y,N
19715,R10IYHF2AZHKAQ,2.0,44.0,54.0,Y,N
21477,R10KQHS9IJQRF2,4.0,52.0,56.0,Y,N
34200,R10VXTKK26IPXN,5.0,98.0,102.0,Y,N
46386,R118G9FYLNRNHN,5.0,98.0,100.0,Y,N
...,...,...,...,...,...,...
5267289,R39UN4V96744R1,1.0,19.0,22.0,Y,N
5272796,R9UJ7ZPWOD81D,5.0,27.0,29.0,Y,N
5284157,R1VIOJSAEXRQVO,4.0,104.0,109.0,Y,N
5301548,RJL72IXR2MWP4,5.0,32.0,39.0,Y,N
5302058,RM6EL81UJUK6M,3.0,29.0,31.0,Y,N

In [9]:
len(yes_votes.index)

497

In [10]:
# Determining the amount of votes that were 'no'
no_votes = votes_df[votes_df['vine'] == 'N'].value_counts()

In [11]:
# Grouping the data to determine how many were star_ratings
total_star_ratings = vine_df['star_rating'].count()
total_star_ratings

5331215

In [12]:
# Total number of reviews 
total_reviews = vine_df.groupby('star_rating').count()
total_reviews

             review_id  helpful_votes  total_votes     vine  verified_purchase
star_rating
1.0             513012         513012       513012   513012             513012
2.0             277973         277973       277973   277973             277973
3.0             400411         400411       400411   400411             400411
4.0             781733         781733       781733   781733             781733
5.0            3358086        3358086      3358086  3358086            3358086

In [13]:
# Total amount of all star_ratings and their dtype
vine_df['star_rating'].value_counts('desc')

5.0    0.629891
4.0    0.146633
1.0    0.096228
3.0    0.075107
2.0    0.052141
Name: star_rating, dtype: float64

In [14]:
# Total number of reviews 
total_reviews = len(pd.unique(votes_df['review_id']))
print("Total number of reviews:", total_reviews)

Total number of reviews: 121360

In [15]:
# Number of paid reviews
paid_reviews = len(votes_df[(votes_df['vine'] == 'Y')])
print("Total number of  paid reviews:", paid_reviews)

Total number of  paid reviews: 497

In [16]:
# Nunber of paid 5 star reviews 
paid_five_star_reviews = len(votes_df[(votes_df['vine'] == 'Y') & (votes_df['star_rating'] ==5)])
print("Total number of paid five star reviews:", paid_five_star_reviews)

Total number of paid five star reviews: 220

In [17]:
# Number of unpaid reviews
unpaid_reviews = len(votes_df[(votes_df['vine'] == 'N')])
print("Total number of unpaid reviews:", unpaid_reviews)

Total number of unpaid reviews: 120863

In [25]:
# The total Number of Unpaid 5-Star Reviews
unpaid_five_star_reviews = votes_df[votes_df['vine']=='N']
unpaid_five_star_reviews = unpaid_five_star_reviews['star_rating'].value_counts()[5]
print("Number of 5 star unpaid reviews:",unpaid_five_star_reviews)

Number of 5 star unpaid reviews: 74470

In [19]:
# Percentage of Paid 5-Star Reviews 
percent_paid_five_star_reviews = (paid_five_star_reviews/total_reviews)*100
# Round the value 
percent_paid_five_star_rounded = round(percent_paid_five_star_reviews, 6)
print("Percentage of paid five star reviews out of total number reviews:", percent_paid_five_star_rounded)

Percentage of paid five star reviews out of total number reviews: 0.181279

In [20]:
# Percentage of Upaid 5-Star Reviews 
percent_unpaid_five_star_reviews = (unpaid_five_star_reviews/total_reviews)*100

# Round the value 
percent_unpaid_five_star_rounded = round(percent_unpaid_five_star_reviews, 6)
print("Percentage of unpaid five star reviews out of total number reviews:", percent_unpaid_five_star_rounded)

Percentage of unpaid five star reviews out of total number reviews: 61.362887